version: "3.7"
services:
    db:
        image: postgres:13-alpine
        environment:
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_DB=${POSTGRES_DB}
        container_name: db-test
        ports: 
            - '5432:5432'
        volumes:
            - ./dbscripts:/docker-entrypoint-initdb.d

    sut:
        image: yzia2000/zims-classroom:test
        environment:
            - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
        environment:
            - NODE_ENV=test
        build:
            context: .
            target: builder
        container_name: api-test
        command: ./wait-for-it.sh db:5432 -- /bin/sh -c "npm run test"
        depends_on:
            - db

        ports:
            - '5000:5000'
